@media screen and (max-width: 613px) {
    main {
        margin: 0 auto 54px auto;
    }

    nav > ul li:not(:first-child),
    .stories > object,
    .logo > hr,
    .search {
        display: none;
    }

    .logo {
        --ig-logo-width: 103px;
        justify-content: space-between;
        width: calc(50% + var(--ig-logo-width) / 2);
    }

    .main-left {
        gap: 0;
    }

    .bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
        border-top: 1px solid var(--gray-200);
        padding: 0 17px;
        height: 54px;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
}
